/*colors*/
$primary: #707070;
$accent: #7249c3;
$secondary: #d8d4d4;

import variables

.button {
  height: 51px;
  width: 152px;
  background: #0d0d0d;
  border: 1px solid #4D4C4C;
  border-radius: 8px;
  padding: 16px, 36px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: $secondary;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: linear-gradient(180deg, #477DE6 0%, #661DFF 100%);
  }
  &:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
  &:disabled {
    cursor: pointer;
    background-color: rgb(163, 168, 173);
    box-shadow: none;
    color: rgb(255, 255, 255) !important;

    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }
}