/*colors*/
$primary: #ffffff;
$accent: #477DE6;
$secondary: #d8d4d4;

html,
body {
  background-color: #0D0D0D;
  padding: 0;
  margin: 0px;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
