/*colors*/
$primary: #707070;
$accent: #7249c3;
$secondary: #d8d4d4;

.titleHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 87px;
  display: flex;
  align-items: center;
  text-align: center;

  background: linear-gradient(345.71deg, #661DFF 10.11%, #3970FF 48.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

.horizontalRule {
  width: 362px;
}

.buttonsContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}