/*colors*/
$primary: #707070;
$accent: #7249c3;
$secondary: #d8d4d4;

.titleHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 76px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $secondary;
  margin-bottom: 28px;
}

.horizontalRule {
  width: 362px;
}

.buttonsContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}