$primary: #707070;
$accent: #7249c3;
$secondary: #d8d4d4;

.nav {
  margin-top: 16px;  
  margin-bottom: 16px;
  @media (max-width: 900px){
    margin-bottom: 8px;
    margin-top: 8px;   
  }    
}

.mainWrapper {
  width: 100%;
  border-bottom: #707070 solid;
  @media (max-width: 435px){
    display: none;
  }
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 72px;
  margin-right: 72px;
}

.logo {
  display:flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.linksRightContainer {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.linksRightContainer a:hover{
  border-bottom: 2px solid #7249C3;
  color: #7249C3;  
}

.rightSideLink{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $secondary;
  padding: 4px;
  margin-right: 64px;
  text-decoration: none;
  &:hover {
    color: #060507;
  }
  @media (max-width: 900px){
    margin-right: 16px;   
  }
  @media (max-width: 435px){
    margin-right: 8px;
    font-size: 16px;   
  }
  
}

.mobileNavContainer {
  display: none;
  @media (max-width: 435px) {
    width: 100%;
    border-bottom: #707070 solid 1px;;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
}

.mobileNavLinksContainer {
  @media (max-width: 435px) {
    display:flex;
    flex-direction: column;    
  }
}

.mobileNavContainer span {
  font-size: 12px;
  margin-bottom: 8px;
}