$primary: #707070;
$accent: #7249c3;
$secondary: #d8d4d4;

.mainContainer {
    margin: 18px 132px 18px 132px;
    @media (max-width: 800px) {
        margin: 16px 24px 16px 24px;        
    }
}

.title{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $secondary;
}

.postCard {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #4D4C4C;    
    margin: 18px 0px;
    padding: 15px;
    &:hover {
      border: 1px solid #4D4C4C;
      border-radius: 8px;
      box-shadow: inset -4px -4px 2px rgba(0, 0, 0, 0.05), 
                  inset 4px 4px 2px rgba(0, 0, 0, 0.04);
    }

    @media (max-width: 900px) {
      border: 1px solid #4D4C4C;
      border-radius: 8px;
    }
}

.namesContainer {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 0px;
    @media (max-width: 436px) {
        flex-direction: column;        
    }
}

.name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $secondary;
}

.userName{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  //line-height: 19px;
  color: #4D4C4C;
}

.postTitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-decoration: underline;
    color: $secondary;
    margin-bottom: 14px;
}

.postBody{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $secondary;
}