.wrapper{
  margin: 18px 132px 18px 132px;
  @media (max-width: 800px) {
    margin: 16px 24px 16px 24px;        
  }
}

.title{
  width: 100%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.mainContent{
  display: flex;
}

.userCardsContainer{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(145px, auto);
  grid-gap: 5px;
  max-width:fit-content;
  padding: 12px;
}

.rightSection{
  width: 30%;
}

.userCard {
  border: solid 1px #4D4c4c;
  border-radius: 8px;
  width: 253px;
  height: 145px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  &:hover{
    border: none;
    background-color: #1D1D1D;
    filter: drop-shadow(10px 10px 20px #000000);
  }
}

.nameContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.companyInfoContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
}

.companyName {
  margin-left: 4px;
  color: #ffffff;
}

.statsCard{
  border: solid 1px #4D4c4c;
  border-radius: 8px;
  margin-top: 12px;
  padding: 8px 10px;
  height: 305px;
}

.statsTitle {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.descriptor {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
